{% set uri = (request.url_rule|string).startswith %}
{% set route = request.url_rule.endpoint %}
<div class="header">
  <div id="head-wrapper">
    <ul class="nav">
      <li {% if route == "home.index"%}class="active"{% endif %}>
        <a href="/">hex play</a>
      </li>
      {% if user %}
      <li {% if uri("/profile/")%}class="active"{% endif %}>
        <a href="{{ url_for("user.profile") }}">профайл</a>
      </li>
      {% endif %}
      {% if user and user.is_admin %}
      <li {% if uri("/admin/")%}class="active"{% endif %}>
        <a href="{{ url_for("admin.dashboard") }}">админ</a>
      </li>
      {% endif %}
    </ul>
    <ul class="nav pull-right">
      {% if user %}
      <li><a href="{{ url_for("user.logout") }}">гарах</a></li>
      {% else %}
      <li><a href="{{ url_for("user.login") }}">нэвтрэх</a></li>
      {% endif %}
    </ul>
  </div>
</div>


{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
