{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Select cell" %}{% endblock %}

{% block content %}
<table border=1>
{% for row in board %}
{% if not forloop.counter0 %}
<tr>
    <th></th>
    {% for v in row %}
    <th>{{ forloop.counter0 }}</th>
    {% endfor %}
</tr>
{% endif %}
<tr>
{% for v in row %}
    {% if not forloop.counter0 %}
    <th>{{ forloop.parentloop.counter0 }}</th>
    {% endif %}
    <td>
        {% if v %}
        <a href="{% url select_cell %}?x={{ forloop.counter0 }}&y={{ forloop.parentloop.counter0 }}">{{ v }}</a>
        {% endif %}
    </td>
{% endfor %}
</tr>
{% endfor %}
</table>

{% endblock %}
