.navbar{ font-weight: 600; }
.navbar .dropdown-menu:after{ display: none; }

div.hexboard{ background-color: transparent; position: relative; margin: 20px 0 0 20px; }

div.cell-back{ width: 50px; height: 59px; position: absolute; z-index: 100; }
div.cell0{ background: url(/static/images/hexagon.png); }
div.cell1{ background: url(/static/images/hexagon1.png); }
div.cell2{ background: url(/static/images/hexagon2.png); }
div.cell3{ background: url(/static/images/hexagon3.png); }
div.cell4{ background: url(/static/images/hexagon4.png); }
div.cell5{ background: url(/static/images/hexagon5.png); }
div.cell6{ background: url(/static/images/hexagon6.png); }
div.cell7{ background: url(/static/images/hexagon7.png); }
div.cell8{ background: url(/static/images/hexagon8.png); }
div.cell9{ background: url(/static/images/hexagon9.png); }
div.cell10{ background: url(/static/images/hexagon10.png); }
div.cell11{ background: url(/static/images/hexagon11.png); }
div.cell12{ background: url(/static/images/hexagon12.png); }
div.cell13{ background: url(/static/images/hexagon13.png); }
div.cell14{ background: url(/static/images/hexagon14.png); }
div.cell15{ background: url(/static/images/hexagon15.png); }
div.cellfoe{ font-weight: 400; }
div.cellfriend{ font-weight: 700; }
div.cell{
    position: absolute;
    width: 50px;
    height: 31px;
    overflow: hidden;
    color: #666666;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.698);
    padding-top: 12px;
    z-index: 200;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    cursor: default;
}

div.arrow{ position: absolute; z-index: 150; }
div.arrow-0{ background: url(/static/images/arrow-0.png) no-repeat scroll 67px 25px transparent; width: 93px; height: 81px; }
div.arrow-60{ background: url("/static/images/arrow-60.png") no-repeat scroll 43px 53px transparent; width: 74px; height: 82px; }
div.arrow-120{ background: url("/static/images/arrow-120.png") no-repeat scroll 17px 54px transparent; width: 55px; height: 83px; }
div.arrow-180{ background: url(/static/images/arrow-180.png) no-repeat scroll 0px 25px transparent; width: 55px; height: 63px; }
div.arrow-240{ background: url(/static/images/arrow-240.png) no-repeat scroll 17px 2px transparent; width: 55px; height: 63px; }
div.arrow-300{ background: url(/static/images/arrow-300.png) no-repeat scroll 43px 1px transparent; width: 76px; height: 63px; }

