*.swp
*.pyc
*.db
local_settings.py
runserver.sh
game_server/node_modules/
game_server/bower_components/
game_server/.sass-cache/
game_server/local_settings.coffee
game_server/app/js/*.js
game_server/app/js/*.js.map
game_server/app/css/*.css
