*.swp
*.pyc
*.db
local_settings.py
runserver.sh
game_server/node_modules/
game_server/bower_components/
game_server/.sass-cache/
game_server/local_settings.coffee
game_server/app/client/css/*.css
game_server/app/client/js/
game_server/app/server/
game_server/redis-cli
game_server/redis-server
tags
