{% extends "base.html" %}
{% block content %}

<fieldset>
  <legend>Game Boards</legend>

  <ul>
    {% for name in boards %}
    <li>
      {{ name }}
      <table border="1">
        <tbody>
        {% for board_row in board_group %}
          <tr>
          {% for pos, y, x in board_row %}
            <td>
              <a href="{% url board-show name pos %}">{{ y }}-{{ x }}</a>
            </td>
          {% endfor %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </li>
    {% endfor %}
  </ul>
  <a href="{% url board-new %}">New Board</a>
</fieldset>

{% endblock %}
{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
