{% extends "base.html" %}
{% block title %}login{% endblock %}
{% block content %}

<div class='row-fluid show-grid'>
  <div class='span6'>
    <h2>Нэвтрэx</h2>
    <form id='login-form' action="" method="POST">
      {% csrf_token %}
      {% if form.errors %}
        <div class='errorlist'>
          Утас эсвэл нууц үг буруу байна
        </div>
      {% endif %}
      <div>
        <label for="id_phone_number">Утас</label>
        <div class='controls'>
          {{ form.phone_number }}
        </div>
      </div>
      <div>
        <label for="id_pin_code">Нууц үг</label>
          <div class='controls'>
            {{ form.pin_code }}
        </div>
      </div>
      <input type="submit" value="Нэвтрэх" />
    </form>
  </div>

  <div class='span6'>
    <h2>Бүртгүүлэх</h2>
    <div class="instruction">
      Хэрэв та бүртгүүлээгүй бол 99887766 дугаарт 100 нэгж илгээнэ үү! Бид
      танд нэвтрэх нууц дугаарыг илгээх болно.
    </div>
  </div>
</div>

{% endblock %}
{% block js-init %}
  $("#id_phone_number").focus()
{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
