{% extends "base.html" %}
{% block body %}


<p>0123 123.4 1234567890 100`000</p>

<p>
    <strong>Тавантолгой</strong>д стратегийн хөрөнгө оруулагчийг тодруулах ажил
    урагш муутай, ерөнхийдөө л гацаанд орсон нь илэрхий байна.
</p>
<p style="font-size: 13px;">
    <strong>Тавантолгой</strong>д стратегийн хөрөнгө оруулагчийг тодруулах ажил
    урагш муутай, ерөнхийдөө л гацаанд орсон нь илэрхий байна.
</p>
<p style="font-size: 12px;">
    <strong>Тавантолгой</strong>д стратегийн хөрөнгө оруулагчийг тодруулах ажил
    урагш муутай, ерөнхийдөө л гацаанд орсон нь илэрхий байна.
</p>
<p style="font-size: 11px;">
    <strong>Тавантолгой</strong>д стратегийн хөрөнгө оруулагчийг тодруулах ажил
    урагш муутай, ерөнхийдөө л гацаанд орсон нь илэрхий байна.
</p>
<p style="font-size: 10px;">
    <strong>Тавантолгой</strong>д стратегийн хөрөнгө оруулагчийг тодруулах ажил
    урагш муутай, ерөнхийдөө л гацаанд орсон нь илэрхий байна.
</p>

<form>
    <label>дугаар:</label>
    <input type="text" name="txt"/>
    <input type="submit" class="btn" value="нэвтрэх"></input>
</form>

<div class="row">
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
    <div class="span1" style="background-color: #eee"> 1 </div>
</div>
<div class="row">
    <div class="span6 offset6" style="background-color: #eee"> 6 </div>
    <div class="span6 offset6" style="background-color: #eee"> 6 </div>
</div>
<div class="row">
    <div class="span24" style="background-color: #eee"> 24 </div>
</div>

{% endblock %}
