body, input { font-family: 'Comfortaa'; }


a { color: #08C; text-decoration: none; }
a:hover { color: #005580; text-decoration: underline; }


input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0px 1px 3px #ddd inset;
}


div {
    border: 1px solid #f0f0f0;
    margin: 1px;
    border-radius: 8px;
    padding: 8px;
}


.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/* Form error {{{ */
.errorlist {
    color: red;
}
/* }}} */


/* Board {{{ */
table.board-group { display: inline-block; vertical-align: top; }
.board-edit { display: inline-block; position: relative; cursor: pointer; }
.board .board_row, .board .cell { border-radius: 0; padding: 0; float: left; }
.board .board_row { clear: both; border: none; margin: 0; }
.board .board_row:nth-of-type(even) { margin-left: 10px; }
.board .cell {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
    overflow: hidden;
}
.board .cell.off { border: 1px solid transparent; color: transparent; }
.board-edit .arrow-up,
.board-edit .arrow-down,
.board-edit .arrow-left,
.board-edit .arrow-right {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    display: block;
}
.board-edit [class*="arrow"]:hover {
    background-color: #f0f0f0;
}
.board-edit .arrow-up,
.board-edit .arrow-down {
    width: 100%;
    left: 0;
}
.board-edit .arrow-left,
.board-edit .arrow-right {
    height: 50%;
    top: 0;
    padding-top: 50%;
}
.board-edit .arrow-left { left: 0px; }
.board-edit .arrow-right { right: 0px; }
.board-edit .arrow-up { top: 0px; }
.board-edit .arrow-down { bottom: 0px; }
/* }}} */


/* vim: set foldmethod=marker : */
