{% extends "admin/base.html" %}

{% block extrahead %}
<style type="text/css">
  .boards { display: inline-block; width: 1380px; background-color: #f0f0f0; }
  .boards div{ margin: 0; padding: 0; float:left; }

  .boards .row_boards { clear: both; border: none; }
  .boards .board { border: 5px solid transparent; }
  .boards .row { clear: both; border: none; }
  .boards .row div{
    width: 10px;
    height: 8px;
    border: 1px solid #006600;
    background-color: #bfab30;
    color: #fff;
    font-weight: bold;
    font-size: 8px;
    font-family: "arial, verdana";
  }
  /* show the row differing */
  .boards .row:nth-child(even) { margin-left: 6px; }
  /* show board quarter division */
  .boards .row:nth-child(-n+5) div:nth-child(-n+5),
  .boards .row:nth-child(n+6) div:nth-child(n+6) {
    background-color: #a68f00;
  }
  /* show the hidden design */
  .boards .row:nth-child(-n+5) div.off:nth-child(-n+5),
  .boards .row:nth-child(n+6) div.off:nth-child(n+6),
  .boards .row div.off{
    border-color: #eee;
    background-color: #fff;
  }

  /* show the arrows */
  .boards .board { position: relative; }
  .boards .row_boards:nth-child(even) .board:nth-child(odd) .row:first-child div:nth-child(4)::after,
  .boards .row_boards:nth-child(even) .board:nth-child(odd) .row:first-child div:nth-child(5)::before,
  .boards .row_boards:nth-child(odd) .board:nth-child(even) .row:first-child div:nth-child(4)::after,
  .boards .row_boards:nth-child(odd) .board:nth-child(even) .row:first-child div:nth-child(5)::before {
    content: '';
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
  }
  .boards .row_boards:nth-child(even) .board:nth-child(odd) .row:first-child div:nth-child(5)::before,
  .boards .row_boards:nth-child(odd) .board:nth-child(even) .row:first-child div:nth-child(5)::before {
    border-bottom: 8px solid rgba(255,0,0,.3);
    top: -8px;
  }
  .boards .row_boards:nth-child(even) .board:nth-child(odd) .row:first-child div:nth-child(4)::after,
  .boards .row_boards:nth-child(odd) .board:nth-child(even) .row:first-child div:nth-child(4)::after {
    border-top: 8px solid rgba(255,0,0,.3);
    top: 100px;
  }
  .boards .row_boards:nth-child(odd) .board:nth-child(odd) .row:nth-child(4) div:first-child::after,
  .boards .row_boards:nth-child(odd) .board:nth-child(odd) .row:nth-child(4) div:first-child::before,
  .boards .row_boards:nth-child(even) .board:nth-child(even) .row:nth-child(4) div:first-child::after,
  .boards .row_boards:nth-child(even) .board:nth-child(even) .row:nth-child(4) div:first-child::before {
    content: '';
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;
  }
  .boards .row_boards:nth-child(even) .board:nth-child(even) .row:nth-child(4) div:first-child::after,
  .boards .row_boards:nth-child(odd) .board:nth-child(odd) .row:nth-child(4) div:first-child::after {
    border-left: 8px solid rgba(255,0,0,.3);
    left: 125px;
  }
  .boards .row_boards:nth-child(even) .board:nth-child(even) .row:nth-child(4) div:first-child::before,
  .boards .row_boards:nth-child(odd) .board:nth-child(odd) .row:nth-child(4) div:first-child::before {
    border-right: 8px solid rgba(255,0,0,.3);
    left: -8px;
  }

  .boards .row div.jump-preview { width: 6px; height: 4px; border: 3px solid rgba(255, 255, 255, .8); }
  .boards .row div.jump-start, .help .jump-start { width: 6px; height: 4px; border: 3px solid #fff; border-radius: 5px; }
  .boards .row div.jump-end, .help .jump-end { width: 10px; height: 8px; border: 1px solid #fff; border-radius: 5px; }
  .help .jump-start, .help .jump-end { background-color: #bfab30; display: inline-block; }

  .point-start {
    position: absolute;
    background-color: rgba(255, 0, 0, .3);
    width: 6px;
    height: 4px;
    border: 3px solid rgba(255, 255, 255, .8);
  }
</style>
{% endblock %}

{% block content %}

<h1>New Board</h1>

<div class="help">
  <strong>Help:</strong>
  <ul>
    <li>
      <div class="jump-start"></div> Jump start point
    </li>
    <li>
      <div class="jump-end"></div> Jump end point
    </li>
  </ul>
</div>

<form method="post">
  <input type="radio" name="action" value="cell" id="action_cell" checked="checked"/>
  <label for="action_cell">Edit cell</label>
  <input type="radio" name="action" value="jump" id="action_jump"/>
  <label for="action_jump">Edit jump points</label>
</form>

<div class="boards">
  {% for y in range %}
  <div class="row_boards">
    {% for x in range %}
    <div class="board">
      {% for yy in range %}
      <div class="row">
        {% for xx in range %}
        <div></div>
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>

<div class="point-start" style="display: none"></div>

<input type="button" value="Generate JSON" id="generate-json"/>
<div id="board-values" style="font-family:monospace">
</div>

<script type="text/javascript">
  var jump_active = false,
      jump_start;

  function cell_mode(cell) {
    cell.toggleClass('off');
  }

  function cell2pos(cell){
    var board = cell.parent().parent();
    return {
      board: {x: board.index(), y: board.parent().index()},
      cell: {x: cell.index(), y: cell.parent().index()}
    }
  }

  function pos2cell(pos){
    var selector = '';
    selector += '.row_boards:nth-child(' + (pos.board.y + 1) + ') ';
    selector += '.board:nth-child(' + (pos.board.x + 1) + ') ';
    selector += '.row:nth-child(' + (pos.cell.y + 1) + ') ';
    selector += 'div:nth-child(' + (pos.cell.x + 1) + ')';
    return $(selector);
  }

  function start_valid(pos){
    if (pos.board.x == 0 && pos.board.y % 2 == 0 && pos.cell.x < 5)
      return false;
    if (pos.board.x == 9 && pos.board.y % 2 == 1 && pos.cell.x >= 5)
      return false;
    if (pos.board.y == 0 && pos.board.x % 2 == 1 && pos.cell.y < 5)
      return false;
    if (pos.board.y == 9 && pos.board.x % 2 == 0 && pos.cell.y >= 5)
      return false;

    return true;
  }

  function jump_valid(from, to){
    var fbx = from.board.x,
        fby = from.board.y,
        tbx = to.board.x,
        tby = to.board.y,
        fcx = from.cell.x,
        fcy = from.cell.y,
        tcx = to.cell.x,
        tcy = to.cell.y;

    // must not be same board
    if (fbx == tbx && fby == tby) return false;

    // adjacent vertical
    if (Math.abs(fbx - tbx) == 0 && Math.abs(fby - tby) == 1){
      if ((fbx + fby) % 2){  // odd allows only up and down outwards
        var out_up = fcy < 5 && tcy >= 5;  // 0-4 && 5-9
        var out_down = fcy >= 5 && tcy < 5;  // 5-9 && 0-4
        return out_up || out_down;
      }
    }

    // adjacent horizontal
    if (Math.abs(fbx - tbx) == 1 && Math.abs(fby - tby) == 0){
      if ((fbx + fby) % 2 == 0) {  // even allows only left and right outwards
        var out_right = fcx < 5 && tcx >= 5;  // 0-4 && 5-9
        var out_left = fcx >= 5 && tcx < 5;  // 5-9 && 0-4
        return out_right || out_left;
      }
    }

    return false;
  }

  function jump_override(cell_start, cell_end){
    var board_start = cell_start.parent().parent(),
        board_end = cell_end.parent().parent(),
        from = cell2pos(cell_start),
        to = cell2pos(cell_end);
    if (!jump_valid(from, to)) return;

    // adjacent horizontal
    if (Math.abs(from.board.x - to.board.x) == 1 &&
        Math.abs(from.board.y - to.board.y) == 0){
      if ((from.board.x + from.board.y) % 2 == 0) {  // even allows only left and right outwards
        var out_right = from.cell.x < 5 && to.cell.x >= 5;  // 0-4 && 5-9
        var out_left = from.cell.x >= 5 && to.cell.x < 5;  // 5-9 && 0-4
        if (out_right){
          board_start.find('.row div.jump-start:nth-child(-n+5)')
            .removeClass('jump-start');
          board_end.find('.row div.jump-end:nth-child(n+6)')
            .removeClass('jump-end');
        }else if (out_left){
          board_start.find('.row div.jump-start:nth-child(n+6)')
            .removeClass('jump-start');
          board_end.find('.row div.jump-end:nth-child(-n+5)')
            .removeClass('jump-end');
        }
      }
    }

    // adjacent vertical
    if (Math.abs(from.board.x - to.board.x) == 0 &&
        Math.abs(from.board.y - to.board.y) == 1){
      if ((from.board.x + from.board.y) % 2){  // odd allows only up and down outwards
        var out_up = from.cell.y < 5 && to.cell.y >= 5;  // 0-4 && 5-9
        var out_down = from.cell.y >= 5 && to.cell.y < 5;  // 5-9 && 0-4
        if (out_up){
          board_start.find('.row:nth-child(-n+5) div.jump-start')
            .removeClass('jump-start');
          board_end.find('.row:nth-child(n+6) div.jump-end')
            .removeClass('jump-end');
        }else if (out_down){
          board_start.find('.row:nth-child(n+6) div.jump-start')
            .removeClass('jump-start');
          board_end.find('.row:nth-child(-n+5) div.jump-end')
            .removeClass('jump-end');
        }
      }
    }

  }

  function jump_mode(cell){
    if (cell.hasClass('off')) return;

    var board = cell.parent().parent(),
        bpos = board.offset(),
        board_border = 5;

    if (jump_active) {
      var end_pos = cell2pos(cell);
      if (jump_valid(jump_start, end_pos)) {
        var cell_start = pos2cell(jump_start);
        jump_override(cell_start, cell);
        cell_start.addClass('jump-start');
        cell.addClass('jump-end');
      }
      jump_active = false;
      $('.point-start').hide();
    }else{
      var pos = cell2pos(cell);
      if (start_valid(pos)) {
        jump_start = pos;
        $('.point-start').show().offset(cell.offset());
        jump_active = true;
      }
    }
  }

  function generateJSON(){
    $('.boards .row_boards').each(function(y, board_row){
      $(board_row).find('.board').each(function(x, board){
        //
        $(board).find('.row').each(function(yy, row){
          $(row).find('div').each(function(xx, cell){
            //console.log('cell: ', xx, ',', yy);
          });
        });
        return false;
      });
    });
  }

  $(function(){
    $('.row div').click(function(){
        var edit_mode = $('input[name=action]:checked').val();
        if (edit_mode == 'cell'){
          cell_mode($(this));
        }else if (edit_mode == 'jump') {
          jump_mode($(this));
        }
    });

    $('.row div').mouseenter(function(){
      if (jump_active){
        var cell_to = $(this);
        if (jump_valid(jump_start, cell2pos(cell_to))){
          cell_to.addClass('jump-preview');
        }
      }
    });
    $('.row div').mouseleave(function(){
      $(this).removeClass('jump-preview');
    });

    $('#generate-json').click(generateJSON);
  });
</script>

{% endblock %}
{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
