{% extends "admin/base.html" %}
{% block content %}

<h1>Dashboard</h1>

<div>
  Players: <a href="{% url admin-player-new %}">new player</a>
  <ol>
    {% for player in players %}
    <li><a href="{% url admin-player-show player.id %}">
      {{ player.username }} - {{ player.phone }} - {{ player.last_seen_at|date:"Y-m-d H:i" }}
    </a></li>
    {% endfor %}
  </ol>
</div>

<div>
  Boards: <a href="{% url admin-board-new %}">new board</a>
  <ol>
    {% for board in boards %}
    <li>{{ board }}</li>
    {% endfor %}
  </ol>
</div>
{% endblock %}
{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
