{% extends "base.html" %}
{% from "_helpers.html" import field %}
{% block body %}

<div class="row">
    <div class="span8 offset4">
        <form method="post" class="full">
            {{ field(form.phone, {"class": "size2"}) }}
            {{ field(form.code, {"class": "size2"}) }}
            <div class="actions">
                <input type="submit" value="нэвтрэх" class="btn"/>
            </div>
        </form>
    </div>
    <div class="span8" style="text-align: center;">
        <p class="well" style="text-align: left;">
        98765432 дугаарт мессеж ирүүлээрэй!<br/>
        Танд нэвтрэх кодыг явуулах болно.
        </p>
        <div>эсвэл</div>
        <a href="{{ url_for("user.login_guest") }}" class="btn btn-large">зочноор нэвтрэх</a>
    </div>
</div>

{% endblock %}
