{% extends "base.html" %}
{% block body %}

<h1>профайл</h1>

<form method="post">
    <div class="control">
        <label>харагдах нэр</label>
        <div class="field">
            <input type="text" class="size3"
                value="{{ user.name if user.name else "" }}"/>
            <span class="help-info">бүх хүнд харагдана</span>
        </div>
    </div>
    <div class="control">
        <label>утас</label>
        <div class="field">
            <input type="text" value="{{ user.phone }}" class="size3"/>
            <span class="help-info">сайтад нэвтрэх болон код илгээхэд
              хэрэглэгдэнэ</span>
        </div>
    </div>
    <div class="actions">
        <input type="submit" value="өөрчил" class="btn"/>
    </div>
</form>

{% endblock %}
