{% extends "base.html" %}
{% block body %}

<div class="super offset3 span16">
    <h1>Тавтай морилно уу!</h1>
    <p>Чадварлаг програмист, дизайнеруудын 600-аад цагын хөдөлмөр орсон уг
    бүтээлийг танд хүргэж байгаадаа таатай байна.</p>
    <p></p>
    <p>Таны бусдад харагдах нэр одоогоор "{{ user.name }}" байна. Бусдаас
    онцгойрон харагдах нэр, хөлөг, чадваруудаа
    <a href="{{ url_for("user.profile") }}">Профайл</a> хэсгээс засаарай!</p>
    <a href="{{ url_for("home.index") }}" class="btn btn-xlarge">Тоглож эхлэе</a>
</div>

{% endblock %}
