{% extends "base.html" %}
{% load i18n %}
{% block title %} {% trans "Login" %} {% endblock title %}

{% block content %}


<form action="{% url login %}" method="post" class="form-horizontal">
{% csrf_token %}
<fieldset>
    <legend>{% trans "Login" %}</legend>
    {% if form.non_field_errors %}
    <div class="alert alert-error">
        {{ form.non_field_errors|join:"<br/>" }}
    </div>
    {% endif %}
    <div class="control-group {% if form.username.errors %}error{% endif %}">
        <label for="id_username" class="control-label">{% trans "Username" %}:</label>
        <div class="controls">
            {{ form.username }}
            <p class="help-inline">{{ form.username.errors|join:"<br/>" }}</p>
        </div>
    </div>
    <div class="control-group {% if form.phone.errors %}error{% endif %}">
        <label for="id_username" class="control-label">{% trans "Phone" %}:</label>
        <div class="controls">
            {{ form.phone }}
            <p class="help-inline">{{ form.phone.errors|join:"<br/>" }}</p>
        </div>
    </div>
    <div class="form-actions">
        <button class="btn btn-primary" type="submit">{% trans "Login to HexEnv" %}</button>
        <a href="#" class="btn">{% trans "New player? Click here." %}</a>
    </div>
</fieldset>
</form>


{% endblock %}
