<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Hexic | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css" type="text/css"/>
    <script src="{{ STATIC_URL }}js/angular.min.js" type="text/javascript" charset="utf-8"></script>

  </head>
  <body class='content'>
    <div class='clearfix'>
      <div class='right-heading'>
        {{ account_id }}
        {% if account_id %}
        <a href="{% url "security.views.logout" %}">Гарах</a>
        {% else %}
        <a href="{% url "security.views.login" %}">Нэвтрэх</a>
        {% endif %}
      </div>
      <div class='left-heading'>
        <a href="{% url "public.views.index" %}">Нүүр</a>
        <a href="{% url "game.views.dashboard" %}">Тоглох</a>
      </div>
    </div>

    {% if messages %}
    <ul>
      {% for msg in messages %}
      <li>{{ msg }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/d3.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/underscore-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/backbone-min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/render_engine.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/packed.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $(function(){
        {% block js-init %}{% endblock %}
      });
    </script>
  </body>
</html>

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
