<!DOCTYPE html>
<html ng-app>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Demo app</title>
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
<script src="/angular/angular.js"></script>
</head>
<body ng-controller="gameController">

<div class="menu"><b>Player:</b> {{ player_id }}</div>
<div class="container">
    <div class="sidebar">
        Current games: <br />
        <ul>
            <li ng-repeat="game in games">
                <a href="#"
                    ng-click="join(game)"
                    ng-class="{active:$parent.game_id == game}"
                    >{{ game }}</a>
            </li>
            <li>
                <input type="button" value="Host New" ng-click="host_new()"/>
            </li>
        </ul>
    </div>
    <div class="content" ng-if="game_is_valid()">
        Hosted: {{ game_id }} <br />
        <div ng-repeat="(name, is_ready) in players" class="game-lobby">
            <div class="span1">
                <i ng-if="$parent.player_id == name">&raquo;</i>
                &nbsp;
            </div>
            <div class="span8"> {{ name }} </div>
            <div class="span3"> {{ is_ready }} </div>
        </div>
        <label>
            <input type="checkbox" ng-model="$parent.is_ready"/> I'm ready
        </label>
    </div>
</div>
<div id="game"></div>

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/underscore/underscore.js"></script>
<script src="/backbone/backbone.js"></script>
<script src="/d3/d3.js"></script>
<script src="/hexic_rendering_engine/Release/render_engine.js"></script>
<script src="http://localhost:8001/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script type="text/javascript">
window.server_address = "http://localhost:8001";
$(function(){
    //init_svg_game('#game', 350, 300, 1);
});
</script>

</body>
</html>
