{% extends "base.html" %}
{% block title %}Animation{% endblock %}

{% block content %}

<div id="playground" style="width: 650px; height: 600px;"></div>
<input type="hidden" id="user_color" value="{{ profile.color }}"/>

<h4>You can change your color</h4>
{% for color in colors %}
<a href="{% url game.views.board %}?color={{ color }}"
  style="width: 20px; height: 20px; background: #{{ color }}; display: inline-block;"></a>
{% endfor %}

{% endblock %}

{% block js-init %}
game = init_game('#playground');
game.hexagon_radius = 30;
game.user_id = {{ user_id }};
game.update_interval = {{ update_interval }};
game.url_board = "{% url game-board %}";
game.url_progress = "{% url game-progress %}";
game.url_move = "{% url game-move %}";
game.start();
{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
