{% extends "base.html" %}
{% block title %}Select board{% endblock %}
{% block content %}

<div class='row-fluid show-grid'>
  <div class='span8'>
    &nbsp;
    <div class='users_list' style='display: none'>
      <h1>Хүлээж байгаа тоглогчид</h1>
    </div>
  </div>
  <div class='span4'>
    <h2>Шинээр тоглолт үүсгэх</h2>
    <form action="" method="post" id='new-game-form'>{% csrf_token %}
      {% if form.errors %}
      <div class="errorlist">
        {{ form.name.errors }}
      </div>
      {% endif %}
      {{ form.name }}
      <input type="submit" />
    </form>
    <h2>Одоо болж байгаа тоглолтууд</h2>
      {% for board in active_boards %}
      <a class='waiting-game' board_id='{{ board.id }}'>{{ board.name }}</a><br />
      {% endfor %}
  </div>
</div>

{% endblock %}

{% block js-init %}

$('.waiting-game').click(
  function() {
    return init_dashboard($(this), "{% url game.views.select_board %}");
  }
);
{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
