{% extends "base.html" %}
{% block title %}&lt;The game title here&gt;{% endblock %}

{% block content %}

<div  ng-controller="gameController"
      ng-app="app"
      data-url="http://localhost:8081"
      data-key="{{ match_key }}"
      >
  <b>Player:</b> [[ player_id ]]
  <div class="row-fluid" ng-hide="is_game_started">
      <div class="span3">
          Current games: <br />
          <ul>
              <li ng-repeat="game in games">
                  <a href="#"
                      ng-click="join(game)"
                      >[[ game ]]</a>
              </li>
              <li>
                  <input type="button" value="Host New" ng-click="host_new()"/>
              </li>
          </ul>
      </div>
      <div class="span9" ng-if="game_id">
          Hosted: [[ game_id ]] <br />
          <div ng-repeat="(name, is_ready) in players" class="row-fluid">
              <div class="span1">
                  <i ng-if="$parent.player_id == name">&raquo;</i>
                  &nbsp;
              </div>
              <div class="span4"> [[ name ]] </div>
              <div class="span1"> [[ is_ready ]] </div>
          </div>
          <label>
              <input type="checkbox" ng-model="$parent.is_ready"/> I'm ready
          </label>
          <input type="button" value="Start game"
              ng-if="is_host && is_room_ready()"
              ng-click="start_game()"/>
      </div>
  </div>
  <div id="game" ng-show="is_game_started"></div>
</div>
<script src="http://localhost:8081/socket.io/socket.io.js"></script>

{% endblock %}

{% block js-init %}
{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
