{% extends "admin/base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}
    
<table>
  <thead>
    <tr>
      <th>Phone Number</th>
      <th>Credit</th>
      <th>Pin Code</th>
    </tr>
  </thead>
  <tbody>
    {% for account in page.object_list %}
    <tr>
      <td>
        <a href="{% url admin.views.messages %}?phone={{ account.phone_number }}">
          {{ account.phone_number }}
        </a>
      </td>
      <td>{{ account.credit }}</td>
      <td>{{ account.pin_code }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "admin/_paginator.html" %}

{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
