{% extends "admin/base.html" %}
{% block title %}Accounts{% endblock %}
{% block content %}
    
<table>
  <thead>
    <tr>
      <th>Phone Number</th>
      <th>Credit</th>
      <th>Pin Code</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
    {% for account in page.object_list %}
    <tr>
      <td>{{ account.phone_number }}</td>
      <td>{{ account.credit }}</td>
      <td>{{ account.pin_code }}</td>
      <td>{{ account.created_at }}</td>
      <td>
        <a href="{% url "admin.views.messages" %}?phone={{ account.phone_number }}">show messages</a>
        <a href="{% url "admin.views.update_acc" account.id %}">edit</a>
        <a href="{% url "admin.views.del_acc" account.id %}">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if paginator.num_pages > 1 %}
  {% include "admin/_paginator.html" %}
{% endif %}

{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 tw=120 : #}
