{% extends "admin/base.html" %}
{% block title %}Admins{% endblock %}
{% block content %}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
    </tr>
  </thead>
  <tbody>
    {% for admin in page.object_list %}
    <tr>
      <td>{{ admin.user_name }}</td>
      <td>{{ admin.email }}</td>
      <td>{{ admin.password }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% if paginator.num_pages > 1 %}
  {% include "admin/_paginator.html" %}
{% endif %}

{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
