{% extends "admin/base.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<form action="" method="POST">
  {% csrf_token %}
  {% if form.user_name.errors %}
  <div class='errors'>
  {% else %}
  <div>
  {% endif %}
    <label for="id_user_name">User name</label>
    <div class='controls'>
      {{ form.user_name }}
      {{ form.user_name.errors }}
    </div>
  </div>
  {% if form.password.errors %}
  <div class='errors'>
  {% else %}
  <div>
  {% endif %}
    <label for="id_password">Password</label>
    <div class='controls'>
      {{ form.password }}
      {{ form.password.errors }}
    </div>
  </div>
  {% if form.email.errors %}
  <div class='errors'>
  {% else %}
  <div>
  {% endif %}
    <label for="id_email">Email:</label>
    <div class='controls'>
      {{ form.email }}
      {{ form.email.errors }}
    </div>
  </div>
  {% if form.instance.pk %}
  <input type="submit" value="Update" />
  {% else %}
  <input type="submit" value="Register" />
  {% endif %}
</form>

{% endblock %}

{% block js-init %}
    $('#id_user_name').focus();
{% endblock %}
{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
