<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HexAdmin | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css" type="text/css"/>
  </head>
  <body class='content'>
    {% if admin_id %}
      <div class='clearfix'>
        <div class='right-heading'>
          <a href="{% url admin.views.logout %}">Гарах</a>
        </div>
        <div class='left-heading'>
          <a href="{% url admin.views.accounts %}">Accounts</a>
          <a href="{% url admin.views.admins %}">Admins</a>
          <a href="{% url admin.views.messages %}">Messages</a>
        </div>
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </body>
</html>

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
