<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>HexAdmin | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}admin/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/font.css" type="text/css"/>
  </head>
  <body class='content'>
    {% if session_admin_id %}
      <div class='clearfix row-fluid'>
        <div class='right-heading'>
          <a href="{% url "admin.views.add_admin" %}">Add admin</a>
          <a href="{% url "admin.views.add_acc" %}">Add account</a>
          <a href="{% url "admin.views.logout" %}">Гарах</a>
        </div>
        <div class='left-heading'>
          <a href="{% url "admin.views.accounts" %}">Accounts</a>
          <a href="{% url "admin.views.admins" %}">Admins</a>
          <a href="{% url "admin.views.messages" %}">Messages</a>
          <a href="{% url "admin.views.dashboard" %}">Dashboard</a>
        </div>
      </div>
    {% endif %}
    {% if messages %}
      {% for message in messages %}
        <div{% if message.tags %} class='{{ message.tags }} alert'{% endif %}>
          <button class='close' type="button">&times;</button>
          {{ message }}
      {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% block content %}{% endblock %}
    <script src="{{ STATIC_URL }}js/jquery.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}js/main.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
      $(function(){
        {% block js-init %}{% endblock %}
      });
    </script>
  </body>
</html>

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
