{% extends "admin/base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Reserved users</td>
      <td><pre>{{ reserved_users | pprint }}</pre></td>
    </tr>
    <tr>
      <td>Matched users</td>
      <td>{{ matched_users }}</td>
    </tr>
    <tr>
      <td>Pending users</td>
      <td>{{ pending_users }}</td>
    </tr>
    <tr>
      <td>Games</td>
      <td>
        {% for game_id in games %}
        <a href="{% url "admin.views.game_details" game_id %}">{{ game_id }}</a><br/>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
