{% extends "admin/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}


<form id='login-form' action="" method="POST">
  {% csrf_token %}
  {% if form.errors %}
    <div class="errorlist">
      Invalid username or password
    </div>
  {% endif %}
  <div>
    <label for="id_user_name">User name</label>
    <div class='controls'>
      {{ form.user_name }}
    </div>
  </div>
  <div>
    <label for="id_password">Password</label>
    <div class='controls'>
      {{ form.password }}
    </div>
  </div>
  <input type="submit" value="Нэвтрэх" />
</form>

{% endblock %}

{% block js-init %}
  $('#id_user_name').focus();
{% endblock %}

{# vim: set ts=2 sw=2 sts=2 fdn=4 : #}
