{% extends "admin/base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<div class='row-fluid show-grid'>
  <div>
    <p class="errorlist">
    {% if form.errors %}
    {{ form.user_name.errors }}
    {{ form.password.errors }}
    {% endif %}
    </p>
    <form action="{% url admin.views.login %}" method="POST">{% csrf_token %}
      <div>
        <label for="id_user_name">User name:</label>
        {{ form.user_name }}
      </div>
      <div>
        <label for="id_password">Password:</label>
        {{ form.password }}
      </div>
      <input type="submit" value="Нэвтрэх" />
    </form>
  </div>
</div>

{% endblock %}

{% block js-init %}
    $('#id_user_name').focus();
{% endblock %}
